@import url(init.css);
body{
	overflow: hidden;
}
#float-nav{
	position: fixed;
    top: 50%;
    margin-top: -40px;
    z-index: 9999;
}
#float-nav span{
    width: 6px;
    height: 6px;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0);
    border-radius: 50%;
    position: absolute;

}
section{
	position: absolute;
}
.on{
	background: black!important;
}
.bt1{
	top:0;
}
.bt2{
	top:15px;
}
.bt3{
	top:30px;
}
.bt4{
	top:45px;
}
#float-nav li{
	list-style: none;
}
#baseinfo-page{
	width: 100%;
    height: 1012px;
    text-align: center;
    background-color: #22c3aa;
}
.baseinfo-page-content{
    width: 370px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -185px;
    margin-top: -250px;
}
.baseinfo-page-content h1{
	text-shadow: 1px 2px #22c3aa, 2px 4px #aee2d9;
    color: white;
    font-size: 5em;
}
.baseinfo-page-content p{
	margin: 1em 0 0.25em 0;
    color: #aee2d9;
    font-size: 2em;
}
.baseinfo-page-content a{
	color: #008a75;
    font-size: 2em;
    text-decoration: none;
}
.baseinfo-page-content a:hover{
	color: #9f3;
}
#baseinfo-page img{
	width: 180px;
	border-radius: 50%;
}

#area1{
	top: 1012px;
}
#area2{
	top: 2024px;
}