@import url(init.css);
html{
	background-color: #22c3aa;
}
body{
	overflow: hidden;
}
body h1{
	text-shadow: 1px 2px #22c3aa, 2px 4px #aee2d9;
    color: white;
    font-size: 5em;
}
#float-nav{
	position: fixed;
    top: 50%;
    margin-top: -40px;
    z-index: 9999;
}
#float-nav span{
    width: 6px;
    height: 6px;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0);
    border-radius: 50%;
    position: absolute;

}
section{
	position: absolute;
	height: 1012px;
}
.on{
	background: black!important;
}
.bt1{
	top:0;
}
.bt2{
	top:15px;
}
.bt3{
	top:30px;
}
.bt4{
	top:45px;
}
#float-nav li{
	list-style: none;
}
#baseinfo-page{
	width: 100%;
    text-align: center;
}
.baseinfo-page-content{
    width: 370px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -185px;
    margin-top: -250px;
}
.baseinfo-page-content p{
	margin: 1em 0 0.25em 0;
    color: #aee2d9;
    font-size: 2em;
}
.baseinfo-page-content a{
	color: #008a75;
    font-size: 2em;
    text-decoration: none;
}
.baseinfo-page-content a:hover{
	color: #9f3;
}
#baseinfo-page img{
	width: 180px;
	border-radius: 50%;
}

#project-page{
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 10%;
}
#project-page b{
	color: #aee2d9;
    font-size: 1.5em;
    margin: 0.5em 0;
}
#togit{
	color: #aee2d9;
    font-size: 1.5em;
}
#togit a{
	color: #9f3;
}
#togit a:hover{
	text-decoration: none;
    transition: 0.5s;
    color: #008a75;
}
.left a{
	display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #008a75;
    padding: 10px;
}
.right a{
	display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #008a75;
    padding: 10px;
}
#project-page a img{
	width: 90px;
	height: 90px;
}
#project-page a img:hover{
	opacity: 0.5;
}
.left{
	float: left;
    text-align: center;
    width: 40%;
    margin-left: 10%;
}
.right{
	float: right;
	text-align: center;
    width: 40%;
    margin-right: 2%;
}
.left-on-name{
	float: left;
}
.left-on-desc{
	margin-left: 25%;
    text-align: left;
}
.left-on-desc p{
	color: #008a75;
    font-size: 2em;
    padding-top: 20px;
}
#skill-page{
	top: 2024px;
    padding-top: 10%;
	width: 100%;
    text-align: center;
}
#skill-page span{
    background-color: #096254;
    color: #aee2d9;
    border-radius: 3px;
    display: inline-block;
    padding: 2px 8px;
    margin-right: 7px;
    margin-bottom: 11px;
    font-size: 1.5em;
}
#edu-page{
	top: 3036px;
	width: 100%;
	text-align: center;
	padding-top: 10%;
}
#edu-page h4{
    font-size: 2em;
    margin: 0 0 0.1em 0;
    color: white;
    margin-top: 0;
}
#edu-page p{
    color: #aee2d9;
    font-size: 1.5em;
    margin: 0.5em 0;
}
@media only screen and (max-width :640px){
.left{
   	text-align: center;
    width: 80%;
    margin-left: 10%;
	}
.right{
	float: left;
	text-align: center;
    margin-left: 10%;
    width: 80%;
}
}
@media only screen and (max-width :414px){
.left-on-name{
	float: unset;
}
.left-on-desc{
	text-align: left;
    margin-left: 0;
}
.left-on-desc p {
     padding-top: 0; 
}
}
@media only screen and (max-width :375px){}
@media only screen and (max-width :360px){}